--root{
    --mainColour: grey;


}

#company-details {
    border: 5px solid whitesmoke;
    background-color: 	#F0F0F0;
    border-radius: 25px;
    margin: auto;
    width: 75%;
    height: auto;
    flex-direction: row;
    display:flex;
}

#content {
    margin: auto;
    width: auto;
    height: auto;
}

#about-us{
    background: #E0E0E0;
    font-family: 'Manrope', sans-serif;
    border-radius: 25px;
    flex-grow: 3;
}

#what-we-do{
    background: #E0E0E0;
    font-family: 'Manrope', sans-serif;
    border-radius: 25px;
    flex-grow: 3;
}

#invest{
    background: #E0E0E0;
    font-family: 'Manrope', sans-serif;
    border-radius: 25px;
    flex-grow: 3;
}

#pics{
    margin:auto;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    display:flex;
}

.item{
    flex: 0 0 33.333333%;
    margin:auto;
    width: 480;
    height: 240;
}

.item:hover {   
    position: relative;
    top:-15px;
    left:-25px;
    z-index:999;
    width:600px;
    height:auto;
    display: block;
}

.nav {
    border-radius: 25px;
    height: 50px;
    border: 2px solid grey;
    background: grey;
    flex-direction: row;
    display: flex;
}

.nav-item {
    text-align: center;
    display: block;
    margin: auto;
    color: whitesmoke;
    flex-grow: auto;
    padding: 10px;
    font-size: 21px;
    text-decoration: none;
}

a:hover {
    background-color: #505050;
}

article {
    border-radius: 25px;
    border: 5px solid black;
}

aside {
    border-radius: 25px;
    border: 5px solid black;
}

#Service {
    background-color: whitesmoke;
    border-radius: 25px;
}

#content-service {
    margin: auto;
    padding: 150px;
    font-size: 36px;
}