--root{
    --mainColour: grey;


}

#company-details {
    border: 5px solid whitesmoke;
    background-color: 	#F0F0F0;
    border-radius: 25px;
    margin: auto;
    width: 75%;
    height: auto;
    flex-direction: row;
    display:flex;
}

#about-us{
    background: #E0E0E0;
    font-family: 'Manrope', sans-serif;
    border-radius: 25px;
    flex-grow: 3;
}

#content {
    margin: auto;
    width: auto;
    height: auto;
}

#what-we-do{
    background: #E0E0E0;
    font-family: 'Manrope', sans-serif;
    border-radius: 25px;
    flex-grow: 3;
}

#invest{
    background: #E0E0E0;
    font-family: 'Manrope', sans-serif;
    border-radius: 25px;
    flex-grow: 3;
}